<!-- signup.html -->
{% extends "base.html" %}
{% block content %}
<div class="container" style="padding: 2rem;">
    <h2 style="margin-bottom: 2rem;">Sign Up</h2>
    <form id="signupForm" style="width: 400px; margin: auto; padding: 1rem; background: #f8f9fa; border-radius: .25rem; box-sizing: border-box;">
        <div class="form-group" style="margin-bottom: 2rem;">
            <label for="email" style="display: block; margin-bottom: 1rem;">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required style="padding: 1rem; width: 100%; box-sizing: border-box;">
        </div>
        <div class="form-group" style="margin-bottom: 2rem;">
            <label for="password" style="display: block; margin-bottom: 1rem;">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required style="padding: 1rem; width: 100%; box-sizing: border-box;">
        </div>
        <input type="submit" value="Signup" class="btn btn-primary" style="padding: 1rem 2rem;">
    </form>
</div>

<script>
    function showToast(message) {
        const toast = document.getElementById('toast');
        toast.textContent = message;
        toast.style.display = 'block';
        setTimeout(() => {
            toast.style.display = 'none';
        }, 3000);
    }

    firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
            // User is signed in, redirect to the dashboard
            window.location.href = '/dashboard';
        } else {
            // No user is signed in
            // You can show the login form here
        }
    });

    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        firebase.auth().signInWithEmailAndPassword(email, password)
            .then((userCredential) => {
                // Signed in 
                var user = userCredential.user;
                // User logged in successfully
                // Redirect to the dashboard page
                window.location.href = '/dashboard';
            })
            .catch((error) => {
                // Check if the error message is from your own server/API
                if (error.message.includes('INVALID_LOGIN_CREDENTIALS')) {
                    showToast('Invalid login credentials. Please try again.');
                } else {
                    showToast(error.message);
                }
            });
    });
</script>
{% endblock %}